<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/css/app.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700|Raleway:400,700"> 
        <title>TheraSense: Physical Therapy where you need it</title>
    </head>
    <body>
		<!-- Top menu -->
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/" style="padding:0; width:35px; margin-top: 5px"><img src="/assets/logo.png" style="height:30px"></a>
					<a class="navbar-brand" href="/">TheraSense</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="top-navbar-1">
					<ul class="nav navbar-nav navbar-right navbar-menu-items wow fadeIn">
						<li><a href="mailto:wdzhao@berkeley.edu">Questions?</a></li>
						<li><a href="https://github.com/adela-chang/dumbo-web">Source Code</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</head>
	<body>
